.clickbait {
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 0px 1px 5px 0px;
  font-size: 15px;
  top: -1px;
  left: -1px;
  padding: 5px;
}

.clickbait-btn {
  padding: 5px 10px;
  margin: 0px 10px;
  color: white;
  background-color: #3c3939;
  border: none;
  border-radius: 20px;
}
