.clickbait {
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 0px 1px 5px 0px;
  font-size: 15px;
  top: -1px;
  left: -1px;
  padding: 5px;
}

.ytp-autohide .clickbait-btn,
.ytp-big-mode .clickbait-btn,
.ytp-player-minimized .clickbait-btn {
  display: none;
}

.clickbait-btn {
  padding: 5px 16px;
  color: #f1f1f1;
  background-color: black;
  opacity: 0.8;
  border: none;
  border-radius: 0px 0px 0px 10px;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  transition: 0.05s;
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.clickbait-btn:hover {
  opacity: 0.7;
}

.clickbait-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: white;
}
