.clickbait {
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 0px 0px 5px 0px;
  font-size: 15px;
  top: -1px;
  left: -1px;
  padding: 5px;
}

.clickbait-btn {
  padding: 5px;
  color: white;
  background-color: black;
}